**/.git/**
**/.github/**
**/.vscode/**
**/.vscode-test/**
**/test/**
**/*.map
scripts/**
test/**
docs/**
src/**
**/node_modules/**/README.md
**/node_modules/**/CHANGELOG.md
**/node_modules/**/test/**
**/node_modules/**/docs/**

